# Ignorar dumps de banco de dados
backend/db_dump_*.json
# Ignorar chaves SSH
srvadm.key
srvadm.pub
sshsrv
sshsrv.pub
# Dependências do Node.js (pasta pesada e desnecessária)
node_modules/

# Ficheiro de variáveis de ambiente (contém senhas e segredos)
.env

# Logs e ficheiros de depuração
npm-debug.log
*.log
backend/.env

ecosystem.config.js

# Dumps de banco de dados grandes
backend/db_dump_*.json


srvadm.key

# Ignorar pasta de logs e arquivos gerados pelo sistema
logs/

bfg-1.15.0.jar

# Ignorar o aplicativo mobile
rota-noc-app/
 bfg-1.15.0.jar